{% extends '@App/layout.html.twig' %}

{% block body %}

    <h1>Add Article </h1>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock stylesheets%}


{% block title %}
{% endblock title %}