{% extends '@App/layout.html.twig' %}

{% block body %}

    <h1>Home page</h1>

    <hr>{{ dump(articles) }}
    {#{% for article in articles %}#}
        {#<h3>{% article.id %}</h3>#}
        {#{% article.content %}#}
    {#{% endfor %}#}
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock stylesheets %}


{% block title %}
    Home page
{% endblock title %}