{% extends '$App/layout.html.twig' %}

{% block body %}

    <h1>On of Article: {{  id_for_twig }}</h1>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock stylesheets%}


{% block title %}
    Hello dfgdfgdfg
{% endblock title %}