{% extends '@App/layout.html.twig' %}

{% block body %}

    <h1>On of Article: </h1>
    {{ id }}
    <p>{{ content.content }}</p>
    {#{{ dump(content)}}#}
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock stylesheets%}


{% block title %}
    Hello dfgdfgdfg
{% endblock title %}