{% extends 'base.html.twig' %}

{% block body %}

    <h1>Article list</h1>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock stylesheets%}


{% block title %}
    Hello dfgdfgdfg
{% endblock title %}