{% extends 'base.html.twig' %}

{% block body %}

    <h1>test twig</h1>
    {{ dump(article) }}
    <h2>{{ article.title }}</h2>
    {#  | raw - disable screening text
    #}
    <p>{{ article.content | raw }}</p>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock stylesheets%}


{% block title %}
    Hello dfgdfgdfg
{% endblock title %}