{% extends '@App/layout-goods.html.twig' %}

{% block body %}
    {% for message in app.flashes('add_good_success') %}
        <div style="border:  1px solid red">
            {{ message }}
        </div>
    {% endfor %}

<h2>Add new good</h2>
    <div>
        {{ form_start(newform) }}
        {{ form_widget(newform,{'attr': {'class': 'add_good'}}) }}
        <input type="submit" value="Add new Good" class="submit">
        {{ form_end(newform) }}
    </div>



{% endblock body%}

{% block stylesheets %}
<style>

</style>
{% endblock stylesheets%}


{% block title %}
    Add New Good
{% endblock title %}