{% extends '@App/layout-goods.html.twig' %}

{% block body %}
    {#{% for goods in value %}#}
        {#<h3><a href="{{ path('good-in', {id: value.id}) }}">{{ value.goodsName }}</a></h3>#}
        {#<p>{{ article.content }}</p>#}
    {#{% endfor %}#}
{% endblock body%}

{% block stylesheets %}
<style>

</style>
{% endblock stylesheets%}


{% block title %}
    all goods
{% endblock title %}